/* header.css */
header{
    background-color: var(--dark);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 20px 20px;
    margin: 0;
}

.name{
    margin: 0 5rem;
    font-family: "Press Start 2P";
    font-size: 1rem;
    color: var(--white);
    font-weight: 800;
}

nav a{
    margin: 0 1rem;
    font-size: 0.7rem;
    color: var(--white);
    font-weight: 500;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

nav a:hover, nav a.active{
    border-bottom: 3px solid var(--blue);
}