/* style.css */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap");

:root{
    --dark: #0F2854;
    --white: #ffffff;
    --blue: #9CC6DB;
    --yellow: #FCF6D9;
    --orange: #CF4B00;
    --beige: #DDBA7D;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Montserrat';
}

body{
    overflow-x: hidden;
    background-color: var(--white);
    color: var(--dark);
}

.limit-size-img{
    width: 46px;
    height: 46px;
    object-fit: cover;
}

.home{
    margin: 6rem 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: transparent;
    text-align: justify;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-img{
    border-radius: 16%;
    max-width: 250px;
    object-fit: hidden;
}

.home-img img{
    position: relative;
    object-fit: cover;
}

span{
    color: var(--orange);
}

.home .home-content h3{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.social-icon{
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;
}

.social-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: var(--dark);
    color: var(--white);
    font-size: 1.5rem;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.social-icon a:hover {
    background-color: var(--orange);
    transform: translateY(-3px);
}

.typing-text{
    font-size: 16px;
    font-weight: 400;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "Software Developer";
    color: var(--dark);
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: var(--white);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--white);
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor {
    to{
        border-left: 3px solid;
    }    
}

@keyframes words {
    0%, 20%{
        content: "Web Developer";
    }

    21%, 40%{
        content: "Software Developer";
    }

    41%, 60%{
        content: "Web Designer";
    }

    61%, 80%{
        content: "Computer Engineer";
    }
}