:root{
    --dark: #0F2854;
    --white: #ffffff;
    --blue: #9CC6DB;
    --yellow: #FCF6D9;
    --orange: #CF4B00;
    --beige: #DDBA7D;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

body{ /*remain unchanged*/
    overflow-x: hidden;
    background-color: var(--white);
    color: var(--dark);
}

header{
    background-color: var(--dark);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 50px 20px;
    margin: 0;
}


/* CLASS SECTION */
.name{
    margin: 0 5rem;
    font-family: "Press Start 2P";
    font-size: 1rem;
    color: var(--white);
    font-weight: 800;
}

.limit-size-img{ /*remain unchanged*/
    width: 46px;
    height: 46px;
    object-fit: cover;
}

nav a{
    margin: 0 2rem;
    font-size: 16px;
    color: var(--white);
    font-weight: 560;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
    
}

nav a:hover, nav a.active{
    font-family: "Montserrat";
    border-bottom: 3px solid var(--white);
}



/*ID SECTION*/
#text-no-margin{
    margin: 0;
}